hr {
  border: none;
  background-color: black;
  height: 1px;
}

.card {
  display: inline-block;
  width: 250px;
  margin: 0px 0px 15px 30px;
  padding: 15px;
  background-color: rgb(128, 128, 128, .2);
}

.card-title {
  width: 150px;
  font-size: 16px;
}

.card-buttons {
  display: inline;
}

.card-checkbox {
  margin: 0;
  float: right;
}

.card-button {
  margin-left: 10px;
  float: right;
}

.card-text {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
}

.checkbox-active {
  color: red;
}

.hide {
  display: none;
}
