hr {
  border: none;
  background-color: black;
  height: 1px;
}

.card {
  width: 150px;
  margin-left: 30px;
  padding: 15px;
  background-color: rgb(128, 128, 128, .2);
}

.card-title {
  display: inline-block;
  font-size: 16px;
}

.card-checkbox {
  float: right;
}

.card-text {
  font-size: 14px;
}

.checkbox-active {
  color: red;
}
