.header {
  padding: 15px 30px;
  margin-bottom: 20px;
  background-color: #0067b8;
  color: white;
}

.header-title {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.card {
  width: 150px;
  margin-left: 30px;
  padding: 15px;
  background-color: rgb(128, 128, 128, .2);
}

.card-title {
  font-size: 14px;
}

.card-text {
  font-size: 16px;
}
